<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile page</title>
  <link rel="stylesheet" href="./mvp.css" />
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <!-- <script src="scripts.js"></script> -->
</head>

<body>
  <main>
    <h1>Profile page</h1>
    <p>This page is private</p>
    <a href="/sessionLogout">Log out</a>
  </main>

  <script>
    const socket = io("http://localhost:4000");

    const firebaseConfig = {
      apiKey: "AIzaSyCt2uFhauN-5wY8W3djW6KXWenJB7U7F1I",
      authDomain: "fir-auth-fd4d7.firebaseapp.com",
      projectId: "fir-auth-fd4d7",
      storageBucket: "fir-auth-fd4d7.appspot.com",
      messagingSenderId: "823964788599",
      appId: "1:823964788599:web:03e6e245187d9b4bde6372"
    };
    firebase.initializeApp(firebaseConfig)
    // import { getAuth, onAuthStateChanged } from "firebase/auth";
    // console.log(getAuth())
    console.log(firebase.auth().currentUser)

    socket.on("msg", (text) => {
      console.log(text)
    })
  </script>
</body>

</html>